<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip"/>
  <package id="autohotkey"/>
  <package id="chocolateygui"/>
  <package id="cpu-z"/>
  <package id="discord"/>
  <package id="dotnet-7.0-desktopruntime"/>
  <package id="dotnet-desktopruntime"/>
  <package id="DotNet4.5.2"/>
  <package id="dotnet4.7.2"/>
  <package id="dotnetfx"/>
  <package id="f.lux"/>
  <package id="fastcopy"/>
  <package id="Firefox"/>
  <package id="fzf"/>
  <package id="git"/>
  <package id="gpu-z"/>
  <package id="hwinfo"/>
  <package id="iperf3"/>
  <package id="iTunes"/>
  <package id="javaruntime"/>
  <package id="jre8"/>
  <package id="librewolf"/>
  <package id="moonlight-qt"/>
  <package id="mpc-be"/>
  <package id="msiafterburner"/>
  <package id="netfx-4.7.2"/>
  <package id="openrgb"/>
  <package id="pandoc"/>
  <package id="parsec"/>
  <package id="powertoys"/>
  <package id="reflect-free"/>
  <package id="revo-uninstaller"/>
  <package id="rufus"/>
  <package id="sdelete"/>
  <package id="steam-client"/>
  <package id="streamdeck"/>
  <package id="valley-benchmark"/>
  <package id="vcredist140"/>
  <package id="vcredist2010"/>
  <package id="vcredist2015"/>
  <package id="vlc"/>
  <package id="vmware-workstation-player"/>
  <package id="vscode"/>
  <package id="winscp"/>
</packages>