<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip"/>
  <package id="altdrag"/>
  <package id="autohotkey"/>
  <package id="bat"/>
  <package id="bitwarden"/>
  <package id="chocolateygui"/>
  <package id="chromium"/>
  <package id="cinebench"/>
  <package id="Cygwin"/>
  <package id="discord"/>
  <package id="dotnet-7.0-desktopruntime"/>
  <package id="dotnet-desktopruntime"/>
  <package id="DotNet4.5.2"/>
  <package id="DotNet4.6"/>
  <package id="dotnet4.7.2"/>
  <package id="dotnetfx"/>
  <package id="Everything"/>
  <package id="f.lux"/>
  <package id="fastcopy"/>
  <package id="Firefox"/>
  <package id="font-nerd-DejaVuSansMono"/>
  <package id="fzf"/>
  <package id="git"/>
  <package id="git-lfs"/>
  <package id="hugo"/>
  <package id="hugo-extended"/>
  <package id="hwinfo"/>
  <package id="iperf3"/>
  <package id="javaruntime"/>
  <package id="jre8"/>
  <package id="kitty"/>
  <package id="less"/>
  <package id="librewolf"/>
  <package id="microsoft-windows-terminal"/>
  <package id="moonlight-qt"/>
  <package id="mpc-be"/>
  <package id="neovim"/>
  <package id="netfx-4.7.2"/>
  <package id="nordvpn"/>
  <package id="occt"/>
  <package id="office365proplus"/>
  <package id="packer"/>
  <package id="pandoc"/>
  <package id="parsec"/>
  <package id="postman"/>
  <package id="powertoys"/>
  <package id="revo-uninstaller"/>
  <package id="rufus"/>
  <package id="sdelete"/>
  <package id="steam-client"/>
  <package id="vagrant"/>
  <package id="vagrant-manager"/>
  <package id="vcredist140"/>
  <package id="vcredist2010"/>
  <package id="vcredist2013"/>
  <package id="vcredist2015"/>
  <package id="veeam-agent"/>
  <package id="vlc"/>
  <package id="vscode"/>
  <package id="winscp"/>
  <package id="wireguard"/>
  <package id="zoom"/>
</packages>